@model List<Category>
<div class="col-md-8 col-sm-12 col-xs-12">
	@foreach(var item in Model){
    	<div class="movie-item-style-2">
					<img src="/images/uploads/mv1.jpg" alt="">
					<div class="mv-item-infor">
						<h6><a asp-action="Details" asp-controller="Category" asp-route-id="@item.Id">@item.Name </a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
						<p class="describe">Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity...</p>
						<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
						<p>Director: <a href="#">Joss Whedon</a></p>
						<p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
					</div>
				</div>
	}
    </div>