<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="~/css/login.css">

<!-- partial:index.partial.html -->
<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body style="background-image: url(~/images/ft-bg.jpg)">
	
	@RenderBody()
			


<!-- partial -->
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/plugins2.js"></script>
<script src="~/js/custom.js"></script>

@await RenderSectionAsync("Scripts", required: false)
<script src="https://kit.fontawesome.com/a49558d437.js" crossorigin="anonymous"></script>
</body>
</html>
