@using MovieTickets.Models
@model List<Movie>
@{
    Layout = "_UserLayout";
}


<div class="slider movie-items">
	<div class="container">
	<div class="container">
		<div class="row ipad-width">
<div class="col-md-12">
				
				<div class="title-hd">
					<h2>Movies</h2>
				</div>
				<div class="tabs">
					<ul class="tab-links-2">
						<li><a href="#tab21">#Popular</a></li>
						<li class="active"><a href="#tab22"> #Coming soon</a></li>
						<li><a href="#tab23">  #Top rated  </a></li>
						<li><a href="#tab24"> #Most reviewed</a></li>                        
					</ul>
				    <div class="tab-content">
				        
				        <div id="tab22" class="tab active">
				           <div class="row">
				            	<div class="slick-multiItem h-100">
									@foreach(var i in Model)
										{
				            		<div class="slide-it">
										
											<div class="movie-item">
												@if(@i.Image != null){
											
					            			<div class="mv-img">
												@{
													   var base64 = Convert.ToBase64String(@i.Image);
														var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
												}
					            				<img src="@imgSrc" alt="" style="width:inherit; height:50vh">
					            			</div>
												}
					            			<div class="hvr-inner">
					            				<a  asp-action="Details" asp-route-id=@i.Id asp-controller="Movie"> Read more <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6>@i.Name</h6>
					            				<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
					            			</div>
					            		</div>
				            			
				            		</div>
										}
										
				            	</div>
								@if(Model.Count == 0 ){
											<img src="/images/error/notfound.png" style="height:75vh;" />
										}
				            </div>
			       	 	</div>
				    </div>
				</div>
			</div>
			</div>
			</div>
			</div>
			</div>
	