@model Cinema

@{
    Layout = "_AdminLayout";
}
<div class="container mt-5 " style="margin-left:20%">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
        @{
		    var base64 = Convert.ToBase64String(@Model.Image);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
		}
      <img src="@imgSrc">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
      </div>
    </div>
  </div>
</div>
</div>